__pycache__/
strawberrypy/__pycache__/
strawberrypy/_pythtb/__pycache__/
strawberrypy/_tbmodels/__pycache__/
tests/__pycache__
.devcontainer/
.pytest_cache
.DS_Store
build/
strawberrypy.egg-info/
tests/*.pdf
tests/test_pbclscm.py
tests/localchernmarker_test.py
out.pdf
pbclcmtest.py
logo.py
docs/old_readme.md
main.py
docs/_build/